<% provide(:title, "お問い合わせ") %>

<div class="col-md-6 col-xs-12">
  <%= form_for(@message, url: { action: :confirm }) do |f| %>

    <div>
      <h2>メッセージフォーム</h2>
      <hr>

      <!-- エラーメッセージ -->
      <%= render 'layouts/errors', obj: @message %>

      <div>
        <strong>名前</strong>
        <p><%= f.text_field :name, placeholder: '20文字以内' %></p>
      </div>
      <div>
        <strong>メールアドレス</strong>
        <p><%= f.text_field :email, placeholder: '30文字以内' %></p>
      </div>
      <div>
        <strong>内容</strong>
        <p><%= f.text_area :content, placeholder: '200文字以内', rows:"10" %></p>
      </div>
        <%= f.submit '確認画面へ' %>
    </div>
  <% end %>
</div>