<% if @model == 'idol' %>
  <% provide(:title, "#{@content}の検索結果(アイドル)") %>
<% elsif @model == 'place' %>
  <% provide(:title, "#{@content}の検索結果(場所)") %>
<% else %>
  <% provide(:title, "#{@content}の検索結果(イベント)") %>
<% end %>

<div class="row">

  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <!-- 検索結果表示 -->
  <div class="col-xs-8">
    <% if @content.blank? %>
      <h3 class="glyphicon glyphicon-search">''の検索結果</h3>
      <br>
      <br>
      <p>検索ワードを入力してください。</p>
    <% else %>
      <% if @model == 'idol' %>
        <h3 class="glyphicon glyphicon-search">'<%= @content %>'の検索結果(アイドル)</h3>
        <hr>
        <% if @records.count > 0 %>
          <%= render 'idols/index', idols: @records %>
        <% else %>
          <p>検索結果はありません</p>
        <% end %>
      <% elsif @model == 'place' %>
        <h3 class="glyphicon glyphicon-search">'<%= @content %>'の検索結果(場所)</h3>
        <hr>
        <% if @records.count > 0 %>
          <%= render 'places/index', places: @records %>
        <% else %>
          <p>検索結果はありません</p>
        <% end %>
      <% else @model == 'event' %>
        <h3 class="glyphicon glyphicon-search">'<%= @content %>'の検索結果(イベント)</h3>
        <hr>
        <% if @records.count > 0 %>
          <%= render 'events/index', events: @records %>
        <% else %>
          <p>検索結果はありません</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
