<% if place_photos.empty? %>

  <p>投稿はありません</p>

<% else %>
  <div class="masonry-wrapper-cols">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <% place_photos.each do |place_photo| %>
          <div class="masonry-block">

            <div class="block-image">
              <%= link_to place_photo.image_id.url do %>
                <%= image_tag place_photo.image_id.to_s, size: "540x360" %>
              <% end %>
            </div>

            <div class="block-content">
              <% place_photo.tags.each do |tag| %>
                <span class="label label-primary"><%= tag.name %></span>
              <% end %>
              <h3 class="block-title"></h3>
              <p><%= link_to place_photo.place.name, place_path(place_photo.place) %></p>
              <ul class="inline-meta">
                <li>
                  <p>By<%= link_to place_photo.user.name, user_path(place_photo.user) %>　<%= l place_photo.created_at %></p>
                  <!-- 投稿者のみ削除リンク -->
                  <% if user_signed_in? && place_photo.user.id == current_user.id %>
                    <%= link_to "削除",place_place_photo_path(place_id: place_photo.place.id, id: place_photo.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "click-btn click-btn-danger"%>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>