<% provide(:title, "場所写真追加(#{@place.name})") %>

<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8">
    <h2 class="heading"><span>場所写真追加</span>&emsp;<%= @place.name %></h2>
    <hr>

    <!-- 写真投稿フォーム -->
    <%= form_for @place_photo, url: place_place_photos_path(@place.id), html: {  class: "dropzone"} do |f| %>
      <div class="dz-message" data-dz-message>
        <span>ファイルをここにドロップするか<br>ここをクリックしてください。<br>ファイルは自動でアップロードされます！<br>チェックマークがついたら完了です！</span>
      </div>
      <div class="fallback">
        <%= f.file_field :image_id, multiple: true %>
      </div>
    <% end %>
    <%= link_to "戻る", place_path(@place.id) %>
  </div>
</div>

<script>
  /* $(function() {
    // disable auto discover
    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
      maxFilesize: 1,
      addRemoveLinks: true
    });
  });
  */
</script>