<% provide(:title, "場所写真(#{@place.name}-#{@place_photo.id})") %>

<div class="row">

  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8 center">
    <h2 class="heading"><span>場所写真詳細</span>&emsp;<%= @place.name %></h2>
    <hr>
    <div class="row">

      <div class="col-xs-12">
        <%= link_to @place_photo.image_id.url do %>
          <%= image_tag @place_photo.image_id.to_s, size: "540x360" %>
        <% end %>
        <div class="photo-tag">
          <% @place_photo.tags.each do |tag| %>
            <span class="label label-primary"><%= tag.name %></span>
          <% end %>
        </div>

        <div class="twitter-share">
        　<a href="//twitter.com/share" class="twitter-share-button" data-text="<%= @place.name %>写真|idol places-アイドル現場情報共有サイト-" data-url="<%= request.url %>" data-lang="ja">
         Tweet
         </a>
        </div>

        <!-- 退会済みユーザーは"退会済みユーザー"と表示 -->
        <% if @place_photo.user.is_deleted == true %>
          <h4>投稿者：退会済みユーザー</h4>
        <% else %>
          <h4>投稿者：<%= link_to @place_photo.user.name, user_path(@place_photo.user) %></h4>
        <% end %>
      </div>
    </div>
  </div>

</div>