<% idols.each do |idol| %>
  <div class="list-box idol-box">

    <!-- 1.image_id→2.default_image→3.no_imageの順に表示 -->
    <% if idol.image_id? %>
      <%= image_tag idol.image_id.to_s, size: "240x240" %>
    <% elsif idol.default_image? %>
      <%= idol.default_image.html_safe %>
    <% else %>
      <%= image_tag "no_image.jpg", size: "240x240" %>
    <% end %>
    <span class="list-title"><%= link_to idol.name, idol_path(idol) %></span>

    <!-- お気に入りボタン -->
    <% if user_signed_in? %>
      <% if idol.favorited_by?(current_user) %>
        <%= link_to "お気に入り解除", idol_ajax_favorites_path(idol.id), method: :delete, remote: true, class: "glyphicon glyphicon-heart-empty btn1 btn1-success" %>
      <% else %>
        <%= link_to "お気に入り登録", idol_ajax_favorites_path(idol.id), method: :post, remote: true, class: "glyphicon glyphicon-heart-empty btn1 btn1-danger" %>
      <% end %>
    <% else %>
      <%= link_to "お気に入り登録", idol_ajax_favorites_path(idol.id), method: :post , class: "glyphicon glyphicon-heart-empty btn1 btn1-danger" %>
    <% end %>
  </div>
<% end %>