<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8">
    <h2 class="heading"><span>アイドル編集</span>&emsp;<%= @idol.name %></h2>
    <hr>

    <div class="row">
      <%= form_for @idol, url: idol_path, method: :patch do |f| %>

      <!-- エラーメッセージ -->
      <%= render 'layouts/errors', obj: @idol %>

        <!-- 画像投稿機能 -->
        <div class="col-md-7 col-xs-12 photo">
          <% if @idol.image_id? %>
            <%= image_tag @idol.image_id.to_s, size: "360x360" %>
          <% elsif @idol.default_image? %>
            <%= @idol.default_image.html_safe %>
          <% else %>
            <%= image_tag "no_image.jpg", size: "360x360" %>
          <% end %>
          <%= f.file_field :image_id %>
          <!-- 吹き出し -->
          <div class="balloon1-top">
            <p>現場で撮影した写真を<br>投稿してみましょう！</p>
          </div>
        </div>

        <!-- 情報入力フォーム -->
        <div class="col-md-5 col-xs-12">
          <table>
            <tr>
              <td><%= f.label :アイドル名 %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :About %></td>
              <td><%= f.text_area :about, rows:"5" %></td>
            </tr>
            <tr>
              <td><%= f.label :公式サイト %></td>
              <td><%= f.text_field :official_site %></td>
            </tr>
            <tr>
              <td><%= f.label :Twitter %></td>
              <td><%= f.text_field :official_twitter %></td>
            </tr>
            <tr>
              <td><%= f.label :Youtube %></td>
              <td><%= f.text_field :official_youtube %></td>
            </tr>
          </table>
          <hr>
          <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
