<div class="row">
  <h2 class="heading"><span>マイページ</span></h2>
  <hr>

  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h4>登録情報</h4>

        <table>
          <tr>
            <td>名前(ニックネーム)</td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <% unless user.provider? %>
              <td>メールアドレス</td>
              <td><%= user.email %></td>
            <% end %>
          </tr>
          <tr>
            <td>プロフィール</td>
            <td><%= user.body %></td>
          </tr>
        </table>

        <%= link_to "編集する",edit_user_path(user), class: "click-btn click-btn-warning" %>
        <%= link_to "退会する",user_confirm_path, class: "click-btn click-btn-danger" %>
      </div>

      <div class="col-xs-6 user-photo">
        <p>プロフィール画像</p>
        <% if user.image_id? %>
          <%= image_tag user.image_id.to_s, size: "150x150" %>
        <% elsif user.provider_image_id? %>
          <%= image_tag user.provider_image_id, size: "150x150" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "150x150" %>
        <% end %>
      </div>
    </div>
    <hr>

    <!-- お気に入りアイドル一覧 -->
    <div class="row">
      <div class="col-xs-6">
        <p class="center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>お気に入りアイドル一覧</p>
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th>アイドル名</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% current_user.favorite_idols.each do |idol| %>
              <tr>
                <td><%= link_to idol.name, idol_path(idol) %></td>
                <td><%= link_to "解除", idol_favorites_path(idol.id), method: :delete , class: "click-btn click-btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- お気に入り場所一覧 -->
      <div class="col-xs-6">
        <p class="center"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>お気に入り場所一覧</p>
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th>場所名</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% current_user.bookmark_places.each do |place| %>
              <tr>
                <td><%= link_to place.name, place_path(place) %></td>
                <td><%= link_to "解除", place_bookmarks_path(place.id), method: :delete , class: "click-btn click-btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- おすすめイベント情報一覧 -->
    <div class="row">
      <div class="col-xs-12">
        <h4 class="center"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>オススメイベント情報</h4>
        <%= render "events/index", events: events %>
      </div>
    </div>
  </div>

  <!-- マイカレンダー -->
  <div class="col-md-6 col-xs-12">
    <h3>マイカレンダー</h3>
    <div id="calendar"></div>
  </div>

</div>