<div class="row center">
  <div class="col-xs-6">
    <% if user.is_deleted %>
      <h2>退会済みユーザー</h2>
    <% else %>
      <h2><%= user.name %></h2>
      <p><%= user.body %></p>
    <% end %>
    <!-- フォローボタン -->
    <div id="ajax_follow" class="follow-btn">
      <%= render "relationships/follow", user: user %>
    </div>
  </div>
  <div class="col-xs-6 user-photo">
    <h4>プロフィール画像</h4>
    <% if user.image_id? %>
      <%= image_tag user.image_id.to_s, size: "150x150" %>
    <% else %>
      <%= image_tag "no_image.jpg", size: "150x150" %>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <!-- タブ・メニュー -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#sampleContentA" data-toggle="tab">イベント写真</a></li>
    <li><a href="#sampleContentB" data-toggle="tab">場所写真</a></li>
    <li><a href="#sampleContentC" data-toggle="tab">フォロー</a></li>
    <li><a href="#sampleContentD" data-toggle="tab">フォロワー</a></li>
  </ul>
​
  <!-- タブ内容 -->
  <div class="tab-content">
    <div class="tab-pane active" id="sampleContentA">
      <h2>EventPhotos</h2>
      <div id="ajax_event_photos">
        <%= render '/event_photos/index', event_photos: user.event_photos %>
      </div>
    </div>
​
    <div class="tab-pane" id="sampleContentB">
      <h2>PlacePhotos</h2>
      <%= render '/place_photos/index', place_photos: user.place_photos %>
    </div>
​
    <div class="tab-pane" id="sampleContentC">
      <h2>Follow Users</h2>
      <div id="ajax_fallowing">
        <%= render '/users/index', users: user.following_user %>
      </div>
    </div>
​
    <div class="tab-pane" id="sampleContentD">
      <h2>Follower Users</h2>
      <div id="ajax_fallower">
        <%= render '/users/index', users: user.follower_user %>
      </div>
    </div>

  </div>
</div>
