<% provide(:title, "会員情報編集") %>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <h2 class="heading"><span>マイページ(登録情報変更)</span></h2>
    <hr>
    <%= form_for @user, url: user_path, method: :patch do |f| %>

    <!-- エラーメッセージ -->
    <%= render 'layouts/errors', obj: @user %>

      <!-- 編集フォーム -->
      <table style= "width: 500px;">
        <tr>
          <td><%= f.label :"名前(ニックネーム)" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <% if @user.provider_image_id? %>
            <td><%= f.text_field :email, value: "" %></td>
          <% else %>
            <td><%= f.text_field :email %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= f.label :画像 %></td>
          <td>
            <% if @user.image_id? %>
              <%= image_tag @user.image_id.to_s, size: "150x150" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "150x150" %>
            <% end %>
            <%= f.file_field :image_id %>
          </td>
        </tr>
        <!-- <tr> -->
          <!-- <td><%= f.label :パスワード %></td> -->
          <!-- <td><%= f.password_field :encrypted_password %></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
          <!-- <td><%= f.label :確認用パスワード %></td> -->
          <!-- <td><%= f.password_field :reset_password_token %></td> -->
        <!-- </tr> -->
      </table>
      <%= f.submit "編集内容を保存する", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
</div>
