<% provide(:title, "タイムライン") %>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#sampleContentA" data-toggle="tab">タイムライン</a></li>
  <li><a href="#sampleContentB" data-toggle="tab">いいね</a></li>
  <li><a href="#sampleContentC" data-toggle="tab">場所写真</a></li>
  <li><a href="#sampleContentD" data-toggle="tab">フォロー</a></li>
  <li><a href="#sampleContentE" data-toggle="tab">フォロワー</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
  <div class="tab-pane active" id="sampleContentA">
    <h2>タイムライン</h2>
    <p>(フォローしたユーザーや登録したアイドルやイベントの投稿が表示されます。)</p>
    <div id="ajax_event_photos">
      <%= render '/event_photos/index', event_photos: @event_photos %>
    </div>
  </div>

  <div class="tab-pane" id="sampleContentB">
    <h2>Favorite EventPhotos</h2>
    <div id="favorite_eventphotos">
      <%= render '/event_photos/index', event_photos: @user.good_event_photos %>
    </div>
   </div>

  <div class="tab-pane" id="sampleContentC">
    <h2>PlacePhotos</h2>
    <%= render '/place_photos/index', place_photos: current_user.place_photos %>
  </div>

  <div class="tab-pane" id="sampleContentD">
    <h2>Follow Users</h2>
    <div id="ajax_fallowing">
      <%= render '/users/index', users: @user.following_user %>
    </div>
  </div>

  <div class="tab-pane" id="sampleContentE">
    <h2>Follower Users</h2>
    <div id="ajax_fallower">
      <%= render '/users/index', users: @user.follower_user %>
    </div>
  </div>
</div>