<!-- コメントフォーム -->
<% if user_signed_in? %>
  <div class="row">
    <h3>コメント</h3>
    <%= form_with model: [event, event_comment], url: event_event_comments_path(event.id), method: :post, data: {remote: true} do |f| %>
    <!-- エラーメッセージ -->
    <%= render 'layouts/errors', obj: event_comment %>

      <div class="col-xs-12">
        <%= f.text_area :body, rows:'2', class:"form-control", placeholder:"コメントをここに" %>
      </div>
      <%= f.submit "送信する", class:"btn btn-lg pull-right" %>
    <% end %>
  </div>
<% end %>
<hr>

<!-- コメント一覧 -->
<div class="row">
  <h4 class="comment-count">
    <%= event.event_comments.count %>件のコメント
  </h4>
  <div class="comment-list" id="comments">
    <div class="float-wrapper">

      <ol>
        <% event.event_comments.each do |event_comment| %>
          <li class="comment">
            <div class="comment-body bb">
              <div class="comment-avatar">
                <div class="avatar">

                  <!-- 退会済みユーザーは"no_image"を表示 -->
                  <% if event_comment.user.image_id? && event_comment.user.is_deleted == false %>
                    <%= image_tag event_comment.user.image_id.to_s, size: "60x60" %>
                  <% elsif event_comment.user.provider_image_id? %>
                    <%= image_tag event_comment.user.provider_image_id, size: "60x60" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", size: "60x60" %>
                  <% end %>

                </div>
              </div>
              <div class="comment-text">
                <div class="comment-author clearfix">

                  <!-- 退会済みユーザーは"退会済みユーザー"と表示 -->
                  <% if event_comment.user.is_deleted == true %>
                    <p>退会済みユーザー</p>
                  <% else %>
                    <%= event_comment.user.name %>
                  <% end %>

                  <span class="comment-meta">
                    <span class="comment-date"><%= l event_comment.created_at %></span>
                  </span>
                </div>
                <div class="comment-entry"><%= event_comment.body %></div>
                <span class="comment-score"><%= event_comment.score %></span>
              </div>
              <!-- コメント投稿者のみ削除リンク -->
              <% if user_signed_in? %>
                <% if event_comment.user.id == current_user.id %>
                  <%= link_to "削除",event_event_comments_path(event_id: event_comment.id, id: event.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "btn1 btn1-danger pull-right"%>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>

    </div>
  </div>

</div>