<div class="col-xs-12">
  <%= form_with(model: event, local: true) do |form| %>
    <!-- エラーメッセージ -->
    <%= render 'layouts/errors', obj: event %>

    <table>
      <tr>
        <td><%= form.label :イベント名 %></td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <td><%= form.label :イベントジャンル %></td>
        <td><%= form.select :genre, Event.genres.keys.map {|k| [k, k]}, {include_blank: '---'} %></td>
      </tr>
      <tr>
        <td><%= form.label :"イベント内容(リンク)" %></td>
        <td><%= form.text_field :body %></td>
      </tr>
      <tr>
        <td><%= form.label :アイドル名 %></td>
        <td><%= form.collection_select :idol_id, Idol.all.order(:name), :id, :name, {include_blank: '---'} %></td>
      </tr>
      <tr>
        <td><%= form.label :場所名 %></td>
        <td><%= form.collection_select :place_id, Place.all.order(:name), :id, :name, {include_blank: '---'} %></td>
      </tr>
      <tr>
        <td><%= form.label :開場時間 %></td>
        <td><%= form.datetime_select :open_date, :start_year => 2018, :minute_step => 10 %></td>
      </tr>
      <tr>
        <td><%= form.label :開始予定時間 %></td>
        <td><%= form.datetime_select :start_date, :start_year => 2018, :minute_step => 10 %></td>
      </tr>
      <tr>
        <td><%= form.label :終了予定時間 %></td>
        <td><%= form.datetime_select :end_date, :start_year => 2018, :minute_step => 10 %></td>
      </tr>
    </table>

    <div class="actions">
      <% if params[:controller] == 'events' && %w(new create).include?(params[:action]) %>
        <%= form.submit "新規登録" %>
      <% else %>
        <%= form.submit "編集" %>
      <% end %>
    </div>
  <% end %>

  <hr>
  <div>
    <%= link_to "新規アイドル登録", new_idol_path, class: "click-btn click-btn-add" %>
    <%= link_to "新規場所登録", new_place_path, class: "click-btn click-btn-add" %>
  </div>
  <br>
  <br>
  <div class="balloon-top">
    <p>アイドルと場所が見つからない場合は<br>こちらから登録してください。</p>
  </div>

</div>