<div class="col-xs-12">
  <%= form_with(model: event, local: true) do |form| %>
    <!-- エラーメッセージ -->
    <%= render 'layouts/errors', obj: event %>

    <table>
      <tr>
        <td><%= form.label :イベント名 %></td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <td><%= form.label :イベント内容 %></td>
        <td><%= form.text_field :body %></td>
      </tr>
      <tr>
        <td><%= form.label :アイドル名 %></td>
        <td><%= form.collection_select :idol_id, Idol.all, :id, :name, {include_blank: '---'} %></td>
      </tr>
      <tr>
        <td><%= form.label :場所名 %></td>
        <td><%= form.collection_select :place_id, Place.all, :id, :name, {include_blank: '---'} %></td>
      </tr>
      <tr>
        <td><%= form.label :開始予定時間 %></td>
        <td><%= form.datetime_select :start_date %></td>
      </tr>
      <tr>
        <td><%= form.label :終了予定時間 %></td>
        <td><%= form.datetime_select :end_date %></td>
      </tr>
    </table>

    <div class="actions">
      <% if current_page?(new_event_path) %>
        <%= form.submit "新規登録" %>
      <% else %>
        <%= form.submit "編集" %>
      <% end %>
    </div>
  <% end %>
</div>