<% provide(:title, "イベント詳細(#{@event.title})") %>

<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8">
    <h2 class="heading"><span>イベント詳細</span></h2>
    <hr>

    <div class="row">

      <!-- 画像 -->
      <div class="col-md-6 col-xs-12">
        <% if @event_photos.exists? %>
          <ul class="bxslider">
            <% @event_photos.each do |event_photo| %>
              <li>
                <%= link_to event_photo.image_id.url do %>
                  <%= image_tag event_photo.image_id.to_s, title: "Photo by #{link_to event_photo.user.name, user_path(event_photo.user)}" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% elsif @idol.image_id? %>
          <%= image_tag @idol.image_id.to_s, size: "300x300" %>
        <% elsif @idol.default_image? %>
          <%= @idol.default_image.html_safe %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "300x300" %>
        <% end %>
      </div>
      <!-- 詳細 -->
      <div class="col-md-6 col-xs-12">
        <p>
          <strong>イベント名:</strong>
          <%= @event.title %>
        </p>

        <p>
          <strong>イベントジャンル:</strong>
          <%= @event.genre %>
        </p>

        <p>
          <strong>イベント内容(リンク):</strong>
          <%= link_to @event.body, @event.body %>
        </p>

        <p>
          <strong>アイドル名:</strong>
          <%= link_to @idol.name, idol_path(@idol) %>
        </p>

        <p>
          <strong>場所名:</strong>
          <%= link_to @place.name, place_path(@place) %>
        </p>

        <p>
          <strong>開場時間:</strong>
          <%= l @event.open_date %>
        </p>

        <p>
          <strong>開始予定時間:</strong>
          <%= l @event.start_date %>
        </p>

        <p>
          <strong>終了予定時間:</strong>
          <%= l @event.end_date %>
        </p>
      </div>
      <div class="twitter-share">
      　<a href="//twitter.com/share" class="twitter-share-button" data-text="<%= @event.title %>|idol places-アイドル現場情報共有サイト-" data-url="<%= request.url %>" data-lang="ja">
       Tweet
       </a>
      </div>
    </div>

    <!-- イベント写真 -->
    <% if @event_photos.exists? %>
    <hr>
      <div class="row">
        <div class="col-xs-12">
          <% @event_photos.each do |event_photo| %>
            <%= link_to event_photo.image_id.url do %>
              <%= image_tag event_photo.image_id.to_s, size: "60x40" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <hr>

    <!-- 登録(解除)ボタン -->
    <div class="row">
      <div class="col-xs-6">
        <% if user_signed_in? %>
          <% if @event.event_registered_by?(current_user) %>
            <%= link_to "解除", event_event_registers_path(@event.id), method: :delete , class: "btn1 btn1-success" %>
          <% else %>
            <%= link_to "イベント登録", event_event_registers_path(@event.id), method: :post , class: "btn1 btn1-danger" %>
          <% end %>
        <% else %>
          <%= link_to "イベント登録", event_event_registers_path(@event.id), method: :post , class: "btn1 btn1-danger" %>
        <% end %>
        <%= link_to "写真追加", new_event_event_photo_path(@event.id), class: "btn1 btn1-info" %>
      </div>
      <!-- 編集ボタン -->
      <div class="col-xs-6">
        <%= link_to "編集する", edit_event_path(@event.id), class: "btn1 btn1-warning" %>
      </div>
    </div>
    <hr>

    <!-- イベントコメントフォーム/一覧 -->
    <div class="row">
      <div id ="event_comments_<%= @event.id %>">
        <%= render "event_comments/comment", event: @event, event_comment: @event_comment %>
      </div>
    </div>
  </div>
</div>
