<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8">
    <h2 class="heading"><span>イベント詳細</span></h2>
    <hr>

    <div class="row">

      <!-- 画像 -->
      <div class="col-xs-6">
        <% if @idol.image_id? %>
          <%= image_tag @idol.image_id.to_s, size: "300x300" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "300x300" %>
        <% end %>
      </div>
      <!-- 詳細 -->
      <div class="col-xs-6">
        <p>
          <strong>イベント名:</strong>
          <%= @event.title %>
        </p>

        <p>
          <strong>イベント内容:</strong>
          <%= @event.body %>
        </p>

        <p>
          <strong>アイドル名:</strong>
          <%= link_to @idol.name, idol_path(@idol) %>
        </p>

        <p>
          <strong>場所名:</strong>
          <%= link_to @place.name, place_path(@place) %>
        </p>

        <p>
          <strong>開始予定時間:</strong>
          <%= l @event.start_date %>
        </p>

        <p>
          <strong>終了予定時間:</strong>
          <%= l @event.end_date %>
        </p>
      </div>
    </div>
    <hr>

    <!-- 編集ボタン -->
    <% if user_signed_in? %>
      <div class="row">
        <%= link_to "編集する", edit_event_path(@event.id), class: "btn1 btn1-warning" %>
      </div>
    <% end %>
    <hr>

    <!-- イベントコメントフォーム/一覧 -->
    <div class="row">
      <div id ="event_comments_<%= @event.id %>">
        <%= render "events/comment", event: @event, event_comment: @event_comment %>
      </div>
    </div>
  </div>
</div>
