<% provide(:title, "イベント写真(#{@event.title}-#{@event_photo.id})") %>

<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8" style="text-align: center">
    <h2 class="heading"><span>イベント写真詳細</span>&emsp;<%= @event.title %></h2>
    <hr>
    <div class="row">

      <!-- 画像 -->
      <div class="col-xs-12">
        <%= link_to @event_photo.image_id.url do %>
          <%= image_tag @event_photo.image_id.to_s, size: "540x360" %>
        <% end %>
        <div class="photo-tag">
          <% @event_photo.tags.each do |tag| %>
            <span class="label label-primary"><%= tag.name %></span>
          <% end %>
        </div>

        <!-- 退会済みユーザーは"退会済みユーザー"と表示 -->
        <% if @event_photo.user.is_deleted == true %>
          <h4>投稿者：退会みユーザー</h4>
        <% else %>
          <h4>投稿者：<%= link_to @event_photo.user.name, user_path(@event_photo.user) %></h4>
        <% end %>

        <!-- フォローボタン -->
        <!-- <div id="ajax_follow">
          <%= render "relationships/follow", user: @event_photo.user %>
        </div> -->

        <!-- グッド機能 -->
        <!-- <div id="ajax_good">
          <%= render "goods/good", event: @event, event_photo: @event_photo %>
        </div> -->
      </div>
    </div>
  </div>

</div>