<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar" %>
  </div>

  <!-- コンテンツ -->
  <div class="col-xs-8">

    <!-- イベント -->
    <!-- 当日イベントがある→当日のイベント/ない→おすすめのイベント -->
    <div class="row">
      <div class="events">
        <div class="heading top-heading">
          <% if @today_events.exists? %>
            <h2 class="glyphicon glyphicon-calendar">本日のイベント情報</h2>
          <% else %>
            <h2 class="glyphicon glyphicon-calendar">おすすめイベント情報</h2>
          <% end %>
        </div>
      </div>
      <hr>

      <div class="col-xs-12">
        <ul class="bxslider">
          <% if @today_events.exists? %>
            <% @today_events.each do |event| %>
              <li>
                <%= link_to event_path(event) do %>
                  <% if event.idol.image_id? %>
                    <%= image_tag event.idol.image_id.to_s, title: "#{l event.start_date} #{event.idol.name}「#{event.title}」" %>
                  <% else %>
                    <img src="<%= asset_path "no_image.jpg" %>" alt="No_Image", title="<%= "#{l event.start_date} #{event.idol.name}「#{event.title}」" %>" >
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <% @events.each do |event| %>
              <li>
                <%= link_to event_path(event) do %>
                  <% if event.idol.image_id? %>
                    <%= image_tag event.idol.image_id.to_s, title: "#{l event.start_date} #{event.idol.name}「#{event.title}」" %>
                  <% else %>
                    <img src="<%= asset_path "no_image.jpg" %>" alt="No_Image", title="<%= "#{l event.start_date} #{event.idol.name}「#{event.title}」" %>" >
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="col-xs-12">
        <%= link_to "もっと見る", events_path, class: "click-btn click-btn-info click-btn-max" %>
      </div>
    </div>

    <!-- アイドル -->
    <div class="row">
      <div class="idols">
        <div class="col-xs-12 top-heading">
          <div class="heading">
            <h2 class="glyphicon glyphicon-user">おすすめアイドル</h2>
          </div>
        </div>
        <hr>
        <div class="contents">
          <%= render "idols/index", idols: @idols %>
        </div>
        <div class="col-xs-12">
          <%= link_to "もっと見る", idols_path, class: "click-btn click-btn-info click-btn-max" %>
        </div>
      </div>
    </div>

    <!-- 場所 -->
    <div class="row">
      <div class="places">
        <div class="col-xs-12">
          <div class="heading top-heading">
            <h2 class="glyphicon glyphicon-map-marker">おすすめ場所</h2>
          </div>
          <hr>
          <div class="contents">
            <%= render "places/index", places: @places %>
          </div>
        </div>
        <div class="col-xs-12">
          <%= link_to "もっと見る", places_path, class: "click-btn click-btn-info click-btn-max" %>
        </div>
      </div>
    </div>
  </div>

</div>
