<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-12" style="text-align: center">
    <h2>Log in</h2>

    <!-- エラーメッセージ -->
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>

    <!-- ユーザー情報入力フォーム -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <br />
    <h4><%= link_to "  Twitterでログイン", user_twitter_omniauth_authorize_path, class: "fab fa-twitter-square" %></h4>

    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
