<% if user_signed_in? %>

  <% if event_photo.gooded_by?(current_user) %>
    <%= link_to event_event_photo_goods_path(event_id: event.id, event_photo_id: event_photo.id,id: params[:id]), method: :delete, remote: true do %>
      <i class="fas fa-thumbs-up"></i>
    <% end %>
    <span class="count"><%= event_photo.goods.count %> いいね</span>
  <% else %>
    <%= link_to event_event_photo_goods_path(event_id: event.id, event_photo_id: event_photo.id,id: params[:id]), method: :post, remote: true do %>
      <i class="far fa-thumbs-up"></i>
    <% end %>
    <span class="count"><%= event_photo.goods.count %> いいね</span>
  <% end %>

<% else %>

  <%= link_to event_event_photo_goods_path(event_id: event.id, event_photo_id: event_photo.id), method: :post do %>
    <i class="far fa-thumbs-up"></i>
  <% end %>
  <span class="count"><%= event_photo.goods.count %> いいね</span>

<% end %>