<!-- コメント一覧 -->
<div class="row">
  <h4 class="comment-count">
    <%= place.place_comments.count %>件のコメント
  </h4>
  <div class="comment-list" id="comments">
    <div class="float-wrapper">

      <ol>
        <% place.place_comments.each do |place_comment| %>
          <li class="comment">
            <div class="comment-body bb">
              <div class="comment-avatar">
                <div class="avatar">

                  <!-- 退会済みユーザーは"no_image"を表示 -->
                  <% if place_comment.user.image_id? && place_comment.user.is_deleted == false %>
                    <%= image_tag place_comment.user.image_id.to_s, size: "60x60" %>
                  <% elsif place_comment.user.provider_image_id? && place_comment.user.is_deleted == false %>
                    <%= image_tag place_comment.user.provider_image_id, size: "60x60" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", size: "60x60" %>
                  <% end %>

                </div>
              </div>
              <div class="comment-text">
                <div class="comment-author clearfix">

                  <!-- 退会済みユーザーは"退会済みユーザー"と表示 -->
                  <% if place_comment.user.is_deleted == true %>
                    <p>退会済みユーザー</p>
                  <% else %>
                    <%= place_comment.user.name %>
                  <% end %>

                  <span class="comment-meta">
                    <span class="comment-date"><%= l place_comment.created_at %></span>
                  </span>
                </div>
                <div class="comment-entry"><%= place_comment.body %></div>
                <div id="reviewed_star_<%= place_comment.id %>">
                </div>
              </div>
              <!-- コメント投稿者のみ削除リンク -->
              <% if user_signed_in? && place_comment.user.id == current_user.id %>
                <%= link_to "削除",place_place_comment_path(place_id: place.id, id: place_comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "click-btn click-btn-danger pull-right", remote: true %>
              <% end %>
            </div>

            <script>
              $("#reviewed_star_<%= place_comment.id %>").raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              readOnly: true,
              half: true,
              score: '<%= place_comment.rate %>'
              });
            </script>
          </li>
        <% end %>
      </ol>

    </div>
  </div>
</div>