<% places.each do |place| %>
  <div class="list-box place-box">
    <% if place.image_id? %>
      <%= image_tag place.image_id.to_s, size: "240x180" %>
    <% else %>
      <%= image_tag "no_image.jpg", size: "240x180" %>
    <% end %>
    <span class="list-title"><%= link_to place.name, place_path(place) %></span>

      <!-- お気に入りボタン -->
      <% if user_signed_in? %>
        <% if place.bookmarked_by?(current_user) %>
          <%= link_to "お気に入り解除", place_bookmarks_path(place.id), method: :delete , class: "glyphicon glyphicon-heart-empty btn1 btn1-success" %>
        <% else %>
          <%= link_to "お気に入り登録", place_bookmarks_path(place.id), method: :post , class: "glyphicon glyphicon-heart-empty btn1 btn1-danger" %>
        <% end %>
    <% else %>
      <%= link_to "お気に入り登録", place_bookmarks_path(place.id), method: :post , class: "glyphicon glyphicon-heart-empty btn1 btn1-danger" %>
    <% end %>
  </div>
<% end %>