<% provide(:title, "場所編集(#{@place.name})") %>

<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <div class="col-xs-8">
    <h2 class="heading"><span>場所編集</span></h2>
    <hr>

    <div class="row">
      <%= form_for @place, url: place_path, method: :patch do |f| %>

      <!-- エラーメッセージ -->
      <%= render 'layouts/errors', obj: @place %>

        <!-- 画像投稿機能 -->
        <div class="col-md-7 col-xs-12 photo">
          <% if @place.image_id? %>
            <%= image_tag @place.image_id.to_s, size: "360x240" %>
            <%= f.file_field :image_id %>
          <% else %>
            <%= image_tag "no_image.jpg", size: "360x240" %>
            <%= f.file_field :image_id %>
          <% end %>
          <!-- 吹き出し -->
          <div class="balloon1-top">
            <p>現場で撮影した写真を<br>投稿してみましょう！</p>
          </div>
        </div>

        <!-- 情報入力フォーム -->
        <div class="col-md-5 col-xs-12">
          <table>
            <tr>
              <td><%= f.label :場所名 %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :住所 %></td>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <td><%= f.label :公式サイト %></td>
              <td><%= f.text_field :official_site %></td>
            </tr>
            <tr>
              <td><%= f.label :About %></td>
              <td><%= f.text_area :about, rows:"5" %></td>
            </tr>
          </table>
          <hr>
          <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
