<div class="row">
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>
  <div class="col-xs-8">
    <h2 class="heading"><span>場所詳細</span>&emsp;<%= @place.name %></h2>
    <div class="row">

        <!-- 画像 -->
        <div class="col-xs-6">
          <%= image_tag @place.image_id.to_s, size: "300x200" %>
        </div>
        <!-- 詳細 -->
        <div class="col-xs-6">
          <h4>About</h4>
          <p><%= @place.about %></p>
          <h4>住所</h4>
          <p><%= @place.address %></p>
          <%= link_to "公式サイト", @place.official_site %>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <% if @place.bookmarked_by?(current_user) %>
          <%= link_to "お気に入り解除", place_bookmarks_path(@place.id), method: :delete , class: "btn btn-md btn-danger" %>
        <% else %>
          <%= link_to "お気に入り登録", place_bookmarks_path(@place.id), method: :post , class: "btn btn-md btn-success" %>
        <% end %>
      </div>

      <div class="col-xs-6">
        <%= link_to "編集する", edit_place_path(@place.id), class: "btn btn-md btn-warning" %>
      </div>

      <!-- GoogleMap表示 -->
      <div class="row">
        <h2>Google MAP</h2>
          <div id='map' class="<%= @place.name %>"></div>
          <style>
          #map{
            height: 400px;
          }
          </style>

          <script src="//maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

          <script>
          /*
          mapを関数の外で定義(codeAddressでも使うため)
          geocoderを用意
          */

          let map
          let geocoder

          function initMap(){
            // geocoderを初期化
            geocoder = new google.maps.Geocoder()
            geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
              if (status == 'OK') {
          　　　　// map.setCenterで地図が移動
                map.setCenter(results[0].geometry.location);

    　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });

            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 14
            });
          }

          function codeAddress(){
            // 入力を取得
            let inputAddress = document.getElementById('address').value;

            // geocodingしたあとmapを移動
          }
          </script>

      </div>
    </div>
  </div>
</div>
