<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <!-- Twitterカード用の設定 -->
    <% twitter_card = get_twitter_card_info(yield(:title)) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta name="twitter:site" content=<%=twitter_card[:site]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>

  <!-- body タグに data-turbolinks 属性を追加 -->
  <body data-turbolinks="false">
    <!-- Twitterボタンの呼び出し -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- boxslider呼び出し -->
    <script src="https://bxslider.com/lib/jquery.bxslider.js"></script>

    <!-- aboutページのみ全面表示 -->
    <% if current_page?(about_path) %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/header' %>

      <div class="container">
        <!-- ログインページのみフラッシュメッセージの重複削除 -->
        <% if current_page?(new_user_session_path) %>
        <% else %>
          <!-- <p id ="notice"><%= notice %></p> -->
          <% if flash.any? %>
            <script type="text/javascript">
              <% flash.each do |key, value| %>
                <% key = "success" if key == "notice" %>
                <% key = "error" if key == "alert" %>
                toastr['<%= key %>']('<%= value %>');
              <% end %>
            </script>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    <% end %>

    <!-- トップに戻るボタン -->
    <span id="back">
      <a href="#">
        <img src="<%= asset_path "arrow.png" %>" alt="トップに戻るボタン">
      </a>
    </span>

    <%= render 'layouts/footer' %>
  </body>
</html>
