<!DOCTYPE html>
<html>
  <head>
    <title>Idolplaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
  </head>

  <!-- body タグに data-turbolinks 属性を追加 -->
  <body data-turbolinks="false">
    <!-- boxslider呼び出し -->
    <script src="http://bxslider.com/lib/jquery.bxslider.js"></script>

    <!-- aboutページのみ全面表示 -->
    <% if current_page?(about_path) %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/header' %>

      <div class="container">
        <!-- ログインページのみフラッシュメッセージの重複削除 -->
        <% if current_page?(new_user_session_path) %>
        <% else %>
          <p id ="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    <% end %>

    <!-- トップに戻るボタン -->
    <span id="back">
      <a href="#">
        <img src="<%= asset_path "arrow.png" %>" alt="トップに戻るボタン">
      </a>
    </span>

    <%= render 'layouts/footer' %>
  </body>
</html>
