<!DOCTYPE html>
<html>
  <head>
    <title>Idolplaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
  </head>

  <!-- body タグに data-turbolinks 属性を追加 -->
  <body data-turbolinks="false">
    <%= render 'layouts/header' %>

    <div class="container">
      <p id ="notice"><%= notice %></p>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
